@import url(./fonts/fonts.css);

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    color: black;
    font-family: SinkinSans, sans-serif;
    font-weight: 300;
    background-color: lightgray;
}

main, footer {
    padding: 2em;
}

header {
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 5px rgba(20, 0, 50, 0.4);
    padding-left: 2em;
    padding-right: 2em;
    background-color: white;
    position: sticky;
    top: 0;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: black;
    transition: 200ms all ease-in;
    font-weight: 400;

}

header > nav > ul > li > a:visited {
    color: inherit;
}

header > nav > ul > li > a:hover {
    color: rgb(47, 47, 194);
    font-size: 1.4em;
    transition: 200ms all ease-out;
    text-shadow: 5px 5px 10px rgba( 20, 0, 50, 0.3);
    letter-spacing: 3px;
}

header > nav > ul > li {
    margin-left: 50px;
    margin-right: 50px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

header > nav > ul {
    display: flex;
    justify-content: space-around;
}

header > nav {
    flex-grow: 1;
}

header > h2 {
    font-weight: 800;
}

main {
    background-color: white;
}

main > h1 {

}

#portrait {

}

.cards-container {

}

.cards-container > .card {

}

footer {
    background-color: lightgray;
}













.cards-container > h1 {
    
}